include ./mixins.jade
.contentLevel0
  div
    | We believe that information you generate using digital products should be bringing you money, and be available for anyone to buy.
  div
    +exp('l1_why', 1, 'OK, but why?')
      include ./level1_why.jade

  div
    +exp('level1_how', 1, 'And how?')
      include ./level1_how.jade

  div
    | Completely agree, 
    +exp('l1_next', 1, 'what do I do now?')
      include ./level1_next.jade
