include ./mixins.jade

div 
  | In the eighteenth century, a series of inventions transformed the manufacture of cotton in England and gave rise to a new mode of production – the factory system, marking the early signs of the 
  +exp('l3_revolution', 3, 'First Industrial Revolution', '.')
    div During these years, other branches of industry effected comparable advances, and all these together, mutually reinforcing one another, made possible further gains on an ever-widening front. The abundance and variety of these innovations almost defy compilation, but they may be subsumed under three principles: the substitution of machines – rapid, regular, precise, tireless – for human skill and effort; the substitution of inanimate for animate sources of power, in particular, the introduction of engines for converting heat into work, thereby opening to man a new and almost unlimited supply of energy; the use of new and far more abundant raw materials, in particular, the substitution of mineral for vegetable or animal substances. These improvements constitute the Industrial Revolution. 
    +link('http://www.historyguide.org/intellect/lecture17a.html', 'The History Guide') 
div 
  | From the very moment machines could handle any sort of repetitive task, people have worried about human labor being substituted by machines. For example, as early as 1772 the British writer Thomas Mortimer criticised heavily the use of sawmills in manufacturing of cotton, which “if introduced into our dockyards would exclude the labor of thousands of useful workmen.” 
  +link('https://books.google.ru/books?id=3sJgAAAAcAAJ&pg=PA72&lpg=PA72&dq=thomas+mortimer+%22exclude+the+labour+of+thousands%22&source=bl&ots=FnZP4FpHWt&sig=sj9TpGQB0ABwZrE_lbmYxPdjoQo&hl=en&sa=X&redir_esc=y#v=onepage&q=thomas%20mortimer%20%22exclude%20the%20labour%20of%20thousands%22&f=false')
div 
  | The fear of devaluation of human labor soon 
  +exp('marx', 3, 'became the concern of philosophers and theorists such as Karl Marx', ',')
    div
      | The factory lord has become a penal legislator within his own establishment, inflicting fines at will, frequently for his own aggrandisement. The feudal baron in his dealings with his serfs was bound by traditions and subject to certain definite rules; the factory lord is subject to no controlling agency of any kind. 
      +link('https://www.marxists.org/archive/marx/iwma/documents/1868/machinery-speech.htm', 'Marx in an address to the International Workingman’s Association in 1868')
  | and it wasn’t long before it became a domain of writers working in the realm of speculation. Question was raised - “if machines can duplicate and even replace human muscle, could they do the same with the human brain?”, giving rise to the genre of science fiction. 
div 
  | Even though multiple technological advancements of 
  +exp('second', 3, 'Second') 
    div
      | The Second Industrial Revolution was another great leap forward in technology and society. New innovations in steel production, petroleum and electricity led to the introduction of public automobiles and airplanes.
      +link('https://en.wikipedia.org/wiki/Second_Industrial_Revolution')
  | and 
  +exp('third', 3, 'Third Industrial Revolutions') 
    div
      | The Third Industrial Revolution, also known as Digital Revolution began in 1970 with wide adoption of digital computers and used electronics and information technology to automate production. Central to this revolution is the mass production and widespread use of digital logic circuits, and its derived technologies, including the computer, digital cellular phone, and the Internet.
      +link('https://en.wikipedia.org/wiki/Digital_Revolution')
  | often appeared to take jobs away, in the long run they led to the creation of new jobs, and have never created a serious obstacle for those who wanted to work, and all was well. The invention of, say, the internal-combustion engine put buggy-whip makers and carriage assemblers out of business, but it created many more jobs in the manufacturing and maintenance of automobiles, similarly as carriage drivers were simply replaced by truck drivers. In other words, as society progressed, the nature of labor has simply changed from manual to mechanized to computer automated labor. So how is it different this time?
div 
  //- _TODO clarify links format
  | Currently, artificial intelligence algorithms have been developed such that machines can exceed human intelligence for completing specific tasks efficiently – ranging from automatic language translation to self driven cars 
  +link('http://fortune.com/2016/02/10/google-self-driving-cars-artificial-intelligence/')
  | . Considering the pace 
  +link('http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2015/01/PPTExponentialGrowthof_Computing-1.jpg')
  +link('http://www.amazon.com/gp/product/0143037889/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0143037889&linkCode=as2&tag=wabuwh00-20&linkId=54Q62R5PYJBEENTP')
  | and the trajectory of development of the artificial intelligence framework
  +link('http://www.wired.com/2010/08/reverse-engineering-brain-kurzweil/')
  | , in the future, technologies will be capable of doing everything that human beings are employed for presently, while utilising vastly less human labour. 