include ./mixins.jade

div 
  span We believe that in order to prevent further 
  +exp('l2_monopoly2', 2, 'monopolization of information markets', ',')
    include ./level2_monopoly.jade
  | information has to be available for purchase to everyone who might be interested in using it. Instead of prohibiting and limiting collection and use of personal data, we take underlying market forces, and try to shape them into a more productive direction.
div 
  | We propose an ecosystem that allows everyone interested in purchasing people’s generated data to do so directly without having to go through the third party; and for people, on other hand, to benefit from the data they produce while exercising control – what information they are willing to share, whom they share it with, and how much they get paid for it.
div
  +exp('l2_how_exactly', 2, 'How would that work exactly?')
    include ./level2_how_exactly.jade
div
  +exp('l2_how_world', 2, 'How the world would look like?', '', 'lastElement')
    include ./level2_how_world.jade
