div 
  | With the 
  span.expandable(onclick='expandCat("l2_progress")') technological progress and automation of human  labor
  #l2_progress.contentLevel2
    div In the eighteenth century, a series of inventions transformed the manufacture of cotton in England and gave rise to a new mode of production – the factory system, becoming early signs of 
      span.expandable(onclick='expandCat("l3_revolution")') First Industrial Revolution
      |.
      #l3_revolution.contentLevel3
        div During these years, other branches of industry effected comparable advances, and all these together, mutually reinforcing one another, made possible further gains on an ever-widening front. The abundance and variety of these innovations almost defy compilation, but they may be subsumed under three principles: the substitution of machines – rapid, regular, precise, tireless – for human skill and effort; the substitution of inanimate for animate sources of power, in particular, the introduction of engines for converting heat into work, thereby opening to man a new and almost unlimited supply of energy; the use of new and far more abundant raw materials, in particular, the substitution of mineral for vegetable or animal substances.} These improvements constitute the Industrial Revolution. [David Landes, The Unbound Prometheus, 1969](via The History Guide)

        div Pretty much from the moment machines could handle any sort of repetitive task, humans started to worry about their own impending uselessness. For example, it was in 1772 that the British writer Thomas Mortimer decried “those [machines] which are intended almost totally to exclude the labor of the human race.” His particular concern was sawmills, which “if introduced into our dockyards etc. would exclude the labor of thousands of useful workmen.”

        div The fear of replacement, the devaluing of human labor, and, essentially devaluing humanity itself, soon became the stuff of philosophers and theorists such as Karl Marx, and it wasn’t long before it became a domain of writers working in the realm of speculative. Question was raised - “if machines can duplicate and even replace human muscle, could they do the same with the human brain?”, giving rise to a science fiction genre. 

        div Ever since multiple technological advancements of Second and Third Industrial Revolutions often appeared to take away jobs, but in the long run they led to new jobs, and have never proved a lasting impediment for those eager to work, and all was well. The invention of, say, the internal-combustion engine put buggy-whip makers and carriage assemblers out of business, but it created many more jobs in the manufacturing and maintenance of automobiles, similarly as carriage drivers were simply replaced by truck drivers. In other words, as society progressed the nature of labor has simply been changing from manual, to mechanized to computer automated labor. So how this time is different?

  | we are transitioning to the 
  span.expandable(onclick='expandCat("l2_info_economy")') information economy
  | ,
  #l2_info_economy.contentLevel2
    div Economy in which knowledge is the primary raw material and source of value. It is characterized by (1) convergence and integration of communication and data processing technologies into information technology (IT), (2) pervasive influence of IT on economic activity such that the most workers are information workers and most products are information products, and (3) application of IT networks throughout the economic institutions, organizations, and processes resulting in a very high degree flexibility, weakening of regulatory control, and acceleration of globalization.

    div Post-industrial society in which information technology (IT) is transforming every aspect of cultural, political, and social life and which is based on the production and distribution of information. It is characterized by the (1) pervasive influence of IT on home, work, and recreational aspects of the individuals daily routine, (2) stratification into new classes those who are information-rich and those who are information-poor, (3) loosening of the nation state's hold on the lives of individuals and the rise of highly sophisticated criminals who can steal identities and vast sums of money through information related (cyber) crime.

    //- _TODO what's about these links?
    //- a http://www.businessdictionary.com/definition/information-economy.html#ixzz46Fz5jju1
    //- a http://www.businessdictionary.com/definition/information-society.html#ixzz46FwytAVj
  | where 
  //- _TODO add text and link here
  span.expandable(onclick='expandCat("l2_info_new_work")') production of information becomes the new nature of work. 
  #l2_info_new_work.contentLevel2
    div As we’ve seen throughout the history, technological progress and automation of human labor simply changed the nature of work and oftentimes created more new jobs. However, since the future is a place of accelerating changes, it it would be unwise trying to predict it by only looking at the past. In other words, if new jobs simply appeared in the past, it doesn’t mean they always will, at least in traditional sense of jobs.
  

div 
  | Failing to recognize that — and claim ownership of our own data — leads to 
  span.expandable(onclick='expandCat("l2_monopoly")') monopolization of information markets
  | ,
  #l2_monopoly.contentLevel2
    div 
      | You might have noticed it already. There is a strange logic at the heart of the modern tech industry. The goal of many new tech startups is not to produce products or services for which consumers are willing to pay. Instead, the goal is create a digital platform or hub that will capture information from as many users as possible — to grab as many ‘eyeballs’ as you can. 
      | The story of WhatsApp
      | , for example, is just one of the numerous examples. The information captured can then be analysed, repackaged and monetised in various ways. The appetite for this information-capture and analysis seems to be insatiable, with ever increasing volumes of information being extracted and analysed from an ever-expanding array of data-monitoring technologies.

    div 
      | The famous Harvard business theorist Shoshana Zuboff refers to this phenomenon as surveillance capitalism and she believes that it has its own internal ‘logic’ that we need to carefully and critically assess. She is not alone in raising concerns over the ever-growing influence tech companies are gaining due to the unrestricted and exclusive access to the information. So what is really the problem?
  | which, when coupled with further development of technology, results in: 
  ol
    li limitation of creativity and economic growth through the use of data; 
    li dangerous precedents in manipulation of behavior; 
    li unsustainable wealth distribution that leads to erosion of the middle class and market society
    
div In order to prevent that from happening, there needs to be a paradigm shift in the way we treat the very basic resource of the information economy — that keeps the system running — information itself.
