include ./mixins.jade

div 
  | In parallel with the development of physical networks and the current tendency to connect everything and everybody to each other, there is an extremely fast development of technologies that connect us to the network.

div 
  | Let’s try to build a quick timeline to better understand the direction of this evolution. From the simplest binary data writing the technology moved on to microchips before it evolved into batch interfaces – non-interactive interfaces, where the user specifies all the details of the batch job in advance to batch processing, and receives the output when all the processing is done. The next great improvement was the command line interfaces (CLI), which is one of the most efficient tool even today. Commands are sent to the program in the form of successive lines of text.

+pic('4_cli.png')

div 
  | The next step of User Interface evolution became graphical user interface (GUI), which was a much more convenient way to interact with computers. It provided a wide range of graphical elements, such as windows, menus, radio buttons, and checkboxes. In addition to keyboard, it allowed to use mouse as a controller. This is was an already great step forward, which opened a wide range of usage of personal computers.

div 
  | In the 90s, with the invention and popularisation of the Internet, GUI became the main medium for communications in the web. Web-based user interfaces formed new group of interfaces that could accept input and provide output by generating web pages transmitted via the Internet and shown in a web browser.

div 
  | With further development of screens and computing power of personal devices the new type of input gained popularity - touch screens. From the user’s perspective they almost removed the interface part as a middleman between human and digital objects. Now we touch and manipulate digital abstractions almost as if they were real objects.

div 
  | Gestures, voice, natural-language processing - modern devices can track and use as an input almost every way of communication available to human.

div 
  | How is it related to data capturing?
div 
  | As we see, with every next step of the evolution, interfaces become more and more natural and immersive. From bits to words to images and movies. And one of the most important things for us in the context of data capturing is the fact that all the communication flows can be tracked down by digital infrastructure provider. Today your search queries in the web browser sometimes can say more about you than you know yourself 
  +link('http://www.forbes.com/sites/kashmirhill/2012/02/16/how-target-figured-out-a-teen-girl-was-pregnant-before-her-father-did/#2489d2b734c6')
  | . You can even be identified by the trajectory of cursor movement 
  +link('http://miro.enev.us/docs/mouse_ID.pdf')
  | . Most web sites track your behaviour in details, store it in database and analyse. Why? To know you better, to provide you with a better personalised experience or just to sell your data to advertising companies.

div 
  | Where are we now?
div 
  | As you might have noticed, the previous description was not entirely connected to the history and milestones of the actual interface inventions and prototypes. It was done intentionally, since what is important for us is the stack of technologies available (in terms of size and cost) for mass market.
div 
  | Today we see mass popularisation of VR and AR technologies, which provide new degree of freedom in communication in the digital world.

div 
  | AR devices, such as Microsoft HoloLense, add an additional layer of digital world to the perceptible world. It is the reality augmented with metadata, additional objects and context overlays. It has almost the same level of immersiveness as the physical world. All the available tools for people who moderate our physical reality (architects, advertisers, city planners, interior designers) are also available for those who design this virtual overlay. In fact, it is almost the maximum level of efficiency in affecting our world perception and behaviour.