include ./mixins.jade

div 
  | Trajectory of the development of human-to-computer interfaces suggests that the next generations of interfaces would be less present in our lives in forms of screens and apps, but distributed and blended with the surrounding context. Where digital applications, and contextual interactions merge with physical context in right place at right time 
  +link('https://www.youtube.com/watch?v=GmdXJy_IdNw')
  | , effectively rendering cities around us as self-sufficient interfaces.
+pic('6_city_interface.png')

div
  | Augmented & Virtual Reality technology is one of the tools that makes it possible. Expected to become mainstream and disrupt mobile by 2020 
  +link('http://techcrunch.com/2015/04/06/augmented-and-virtual-reality-to-hit-150-billion-by-2020/')
  | , we think it might become a tipping point for Project Data Coup. On one hand, Augmented Reality (AR) devices would generate almost continuous flow of increasingly-valuable meta-data about our lives, including interactions with objects and other people, body, eye movement and quite possibly even brain waves 
  +link('http://www.npr.org/sections/alltechconsidered/2014/05/29/317037186/think-internet-data-mining-goes-too-far-then-you-wont-like-this')
  | . This tendency, combined with possible influence AR might have on our behavior [external link] makes up for a dangerous precedent if entire ecosystem is controlled by few corporations. On other hand, AR technology in itself presents an opportunity to rethink certain paradigms of screen era, and can as well become a solution to a problem it is about to aggravate.
+pic('7_devices.gif')

div 
  | We envision an alternative ecosystem to the one we have now, where users give away their valuable data to privately-owned platform in exchange for free services; and interested companies pay the platform for the right to interact with users and advertise to them. Instead, we propose a scenario where users and the companies have an opportunity to connect directly, without having to go through a third-party entity. Approved companies get direct access to people’s generated data, and people are rightfully compensated.
+pic('8_pyramid_vs_flat.png')

div 
  | In that scenario, device (a pair of glasses or contact lenses, once the technology permits) might become a critical medium, that would allow 
  ol
    +_li2('a')
      | to collect and sell users’ data to interested and approved parties, as well as 
    +_li2('b')
      | to provide a platform for interested parties to interact with user’s reality directly, by providing contextual augmented holograms, making the interaction more attractive than traditional advertising.
+pic('9_device_as_a_medium.png')

div
  | The new ecosystem connects various entities between each other through transparent decentralized network, and allows for automatic execution of predefined protocols. Powered by Blockchain protocol 
  +link('https://en.wikipedia.org/wiki/Block_chain_(database)')
  +link('http://singularityhub.com/2016/02/16/how-ownerless-firms-will-soon-live-on-the-blockchain/')
  | , it enables every single participant of the network to store encrypted information about every transaction that occurs on the network. Therefore, the network itself becomes shared, trusted ledger that everyone can inspect, but not a single user fully controls.
+pic('10_blockchain_stakeholders.gif')
//- _TODO clarify about the second image which is exist in the img folder

div
  | The ecosystem consist of users and their devices, physical spaces, virtual environments, data servers and their maintenance crews, AI algorithm owners, and, lastly, entities that might be interested in purchasing the data and interacting with the users. Having set of predefined protocols, it allows, for example, to upload and store user’s information on the server, regulate who can access it, transfer funds to user’s account once certain information has been used by a third party; all automatically, without having central control board. 

div
  | This allows to create the new type of marketplace where data and money flow between the participants automatically without being controlled by the central authority.

div
  | Protocols include, but are not limited to:

div 
  +list 1. User shares their data by uploading to the cloud server
  | This is a deliberate and conscious choice. Recognizing the value of personal data, the user treats it as an asset that can be traded. He or she decides what data to share by adjusting personalization level and turning different clusters of data (like movement, eye tracking) on and off. The user decides who to share the data with by blocking undesirable parties from interaction with user’s data, or endorsing others. Finally, user is setting the price for own data, which creates healthy market conditions between all the stakeholders of the system. Value of data is determined based on its uniqueness, personalization level, user’s buying activity (data of more active consumers is more valuable for companies). Once the data has been uploaded to the server, any entity who is allowed to access it, can buy it.
+pic('11_upload_info.gif')

div 
  +list 2. Company buys data from the server
  | Any third party with a permission can buy the data. When someone buys user’s data, automatic protocol is executed, transferring the determined amount of money directly to seller’s account. 

+pic('12_buy_data.gif')

div
  +list 3. Company buys data from the server
  | Once bought, data can be used for any purpose the buyer decides. It can be marketing research, or teaching AI algorithms by providing inputs of real people behavior, developing targeted products and offerings.

div 
  +list 4. Company gets license to interact with the user by providing interactive content 
  | When someone purchases user’s data, they automatically get a right to interact with the user by providing tailored content in forms of contextual holograms displayed through the AR headset, overlaid with surrounding context. That allows companies to transition from pointed interactions to continuous flow of opportunities to engage with the user; and opens up the whole host of new possibilities on the intersection of city and digital overlay. Physical spaces and virtual environments become a stage for deployment of highly personalized services: right type of content, seamlessly blended with the surrounding world, is shown to right people, in right place, at right time.


+pic('13_license_to_interact.gif')
+pic('14_interactions.png')

div 
  +list 5. Company pays owner of the (physical/virtual) space for the right to interact with the user 
  | Since context (physical or virtual) becomes critical part in contextual interactions, companies are paying owners of spaces for the right to use the space. Since user’s attention span is always limited at a given point in time, if there is more than one entity willing to interact with the user, an automatic bidding process takes place, and the one who pays more gets access to user’s attention and reality.

+pic('15_physical_context_bidding_1.gif')
+pic('15_physical_context_bidding_2.gif')

div 
  +list 6. Company uses data for production enabled by third-party AI provider
  | Algorithms necessary for analysis and processing of data are owned by companies themselves or provided in form of service by larger Artificial Intelligence agencies to smaller companies.

+pic('16_ai.gif')

div
  +list 7. Maintenance
  | Expenses required to maintain the servers, such as electricity, support staff etc. are automatically subtracted as a percentage of transactions, without accumulating in the central hub.

+pic('17_maintenance.png')

