include ./mixins.jade

div 
  | With the 
  +exp('l2_progress', 2, 'technological progress and automation of human labor')
    include ./level2_progress.jade

  | we are transitioning to the 
  +exp('l2_info_economy', 2, 'information economy', ',')
    include ./level2_info_economy.jade
  | where 
  +exp('l2_info_new_work', 2, 'production of information becomes the new nature of work', '.')
    include ./level2_info_work.jade
div 
  | Failing to recognize that — and claim ownership of our own data — leads to 
  //- _TODO clarify about similar component
  +exp('l2_monopoly', 2, 'monopolization of information markets', ',')
    include ./level2_monopoly.jade
div 
  | which, when coupled with further development of technology, results in: 
  ol
    +_li(1)
      +exp('l2_limitations', 2, 'limitation of creativity and economic growth through the use of data;')
        include ./level2_limitations.jade
    +_li(2)
      +exp('l2_dangerous', 2, 'dangerous precedents in manipulation of behavior;')
        include ./level2_dangerous.jade
    +_li(3)
      +exp('l2_dunsustainable', 2, 'unsustainable wealth distribution that leads to erosion of the middle class and market society')
        include ./level2_unsustainable.jade
    
div 
  | In order to prevent that from happening, there needs to be a paradigm shift in the way we treat the very basic resource of the information economy — that keeps the system running — information itself.
