div All the components that are necessary to build such a network are already in place today.
div It might take a crowdfunding initiative to gather critical mass of supporters, and put the first bits in place. It requires, however, that people are aware of the possibilities and necessities of such initiatives. Therefore, please share this material, and subscribe to know more in the future, when we are taking further steps.

