include ./mixins.jade

div
  | In parallel with the development of physical networks and the current tendency to connect everything and everybody to each other, there is an extremely fast development of technologies that connect us to the network. As the 
  +exp('historyOfDev', 3, 'history of development of human-to-computer interfaces')
    div
      | Let’s try to build a quick timeline to better understand the direction of this evolution. From the simplest binary data writing the technology moved on to microchips before it evolved into batch interfaces – non-interactive interfaces, where the user specifies all the details of the batch job in advance to batch processing, and receives the output when all the processing is done. The next great improvement was the command line interfaces (CLI), which is one of the most efficient tool even today. Commands are sent to the program in the form of successive lines of text.
    +pic('4_cli.png')
    div
      | The next step of User Interface evolution became graphical user interface (GUI), which was a much more convenient way to interact with computers. It provided a wide range of graphical elements, such as windows, menus, radio buttons, and checkboxes. In addition to keyboard, it allowed to use mouse as a controller. This is was an already great step forward, which opened a wide range of usage of personal computers.
    div
      | In the 90s, with the invention and popularisation of the Internet, GUI became the main medium for communications in the web. Web-based user interfaces formed new group of interfaces that could accept input and provide output by generating web pages transmitted via the Internet and shown in a web browser.
    div
      | With further development of screens and computing power of personal devices the new type of input gained popularity - touch screens. From the user’s perspective they almost removed the interface part as a middleman between human and digital objects. Now we touch and manipulate digital abstractions almost as if they were real objects.
    div
      | Gestures, voice, natural-language processing - modern devices can track and use as an input almost every way of communication available to human. This is why the next evolution of interfaces is expected to be even more contextual and less intrusive, virtually blending with the surrounding environment.
  
  | shows, we are steadily moving to more immersive and natural interfaces. From people having to 'speak computer language' in early days of digital computing, we are now transitioning towards new paradigm, where computer interfaces are designed in the way most natural for human brain to comprehend. Naturally blending with the three dimensional environment around us, as opposed to being confined by a screen. This transition is being enabled by rapid development of series of technologies such as ubiquitous, distributed sensors, smart, connected materials, holographic projections as well as Virtual Reality (VR) and Augmented Reality (AR). Expected to become mainstream and disrupt mobile by 2020
  +link('http://techcrunch.com/2015/04/06/augmented-and-virtual-reality-to-hit-150-billion-by-2020/')
  | , it has already attracted major investments from every leading tech company, and has been named the next major computing platform by people like Mark Zuckerberg
  +link('http://www.infoworld.com/article/2610667/m-a/zuckerberg-sees-virtual-reality-as-next-major-computing-platform.html')
  | . 
div
  | As we have seen, with every next step in the evolution, interfaces become more and more natural and non-intrusive. From bits to words to images and movies to immersive environments. In the context of generation and data capturing, however, there are two key points worth mentioning. First of all, with every leap in development of technology, the amount of information generated as byproduct of its activity increases exponentially. From point interaction and meta-data measured in bytes at the times of Command Line Interfaces to continuous flow of rich metadata captured while using devices, such as Microsoft HoloLense, for example, which is considered to be one of the pioneers of AR. Today, when all the communication flows are routinely tracked by digital infrastructure providers in order to serve you with personalized advertising, even simple digital traces - like search queries on the web - can sometimes say more about you than you know yourself
  +link('http://www.forbes.com/sites/kashmirhill/2012/02/16/how-target-figured-out-a-teen-girl-was-pregnant-before-her-father-did/#2489d2b734c6')
  | . If your identity can now be identified by the mere trajectory of cursor movement
  +link('http://miro.enev.us/docs/mouse_ID.pdf')
  | , what potential there is in the device that continuously traces your eye movement and movement throughout space? 

+pic('21_growth_of_data.png')
div
  | Secondly, and even more importantly, Augmented Reality devices – that add an additional digital layer to the perceptible world – hold (yet little explored) potential for influencing and modifying our behavior. By augmenting our reality with metadata, additional objects and context overlays, AR has almost the same level of immersiveness as the physical world. All the available tools for people who moderate our physical reality (architects, advertisers, city planners, interior designers) are also available for those who design this virtual overlay. That, in fact, provides almost the maximum level of efficiency in affecting our world perception and behavior.