include ./mixins.jade

div 
  span We believe that in order to prevent further 
  +exp('l2_monopoly2', 2, 'monopolization of information markets', ',')
    div
      | Shoshana Zuboff, the famous Harvard business theorist, calls this phenomenon surveillance capitalism 
      +link('http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2594754')
      |. She believes that it has its own logic, distinct from other forms of capitalism, that needs to be carefully and critically assessed. She is not alone in raising concerns over the ever-growing influence tech companies are gaining due to the unrestricted and exclusive access to the information. So how does it really work?
      +pic('2_surveillance_capitalism.png')
    div 
      | It starts with providing, usually free, services for people and collecting as much information as possible in the process of usage. There seems to be an insatiable appetite for capture of ever-increasing volumes of information from ever-expanding array of sources. Since users have little awareness and control about information being collected, it is becoming relatively easy and cheap to do so, and tech companies rarely discriminate against which information is valuable and which is not. Everything goes: our social preferences, buying history, likes, activity logs and many more. Tons of information is being pumped into the ever-growing servers every second. 
    div 
      | Once information is captured, it can then be analyzed and monetized as it allows to understand people’s behaviors. This feature makes data the main ingredient in 
      +exp('l3_adRecipe', 3, 'the recipe for perfect advertising', '.')
        div
          | Today, advertising constitutes 20-60% of product price. That means the more effective advertising is, the cheaper the product becomes, which makes it more attractive against the market competition. In other words, in order to remain competitive, companies are striving to increase effectiveness of advertising by showing targeted messages only to people who are already interested in buying certain products, and therefore eliminate wastage associated with traditional advertising approach — where large and non-specific groups of people are exposed to an ad content. This approach — called targeted advertisement — is enabled by large amounts of data collected from people. The data allows to analyze past behavior of users and predict future behaviors and needs. 
          +pic('18_ad_recipe.png')
    div
      | The old logic where advertisers purchase space or time in media with hope to get user’s attention is quickly becoming obsolete. Instead of addressing rather general audience thought key media channels, they can now skip media altogether, tailor message to a specific person, and locate them anywhere online (and increasingly in physical space) due to ubiquitous surveillance. This results in a much more efficient advertising. And since marketing and advertising are naturally moving towards greater efficiency, companies that have access to the largest amounts of data naturally become the most powerful players in the advertising market (Google and Facebook have monopoly on search queries and social graphs respectively). The above mentioned duo, combined, receives over 70% of all the dollars spent on online advertising in the US.
    div
      | On the user’s side, the collected information allows to personalize and improve free services provided, thus attracting even more loyal users, allowing to collect even more precise information and make the system more attractive to marketers and advertisers. This creates a self-reinforcing loop, which becomes hard to escape. As omnipresent technologies become the new social norm, people rarely are willing to make a sacrifice for privacy or ethical concerns. It makes for an interesting phenomenon in which tech companies are becoming the wealthiest charities out there: users are giving away the very resource that makes them so powerful for free.
    +pic('3_monopoly.png')
    div
      | As a result, Google and Facebook quickly became monopolies in their respective fields, representing about 70% of online advertising market share. Companies that had not existed before 2003, now became unquestionable part of any marketing strategy. The recipe is working so well, however, that surveillance capitalism companies are 
      +exp('entering', 3, 'entering the real world')
        div
          | 
      | in order to collect more information about their users. While collecting data online allows for serving targeted ads, information collected from the connected objects and wearables allows to understand, anticipate human behavior in real time and 
      +exp('profit', 3, 'then shape it for profit', '.')
        div 
          | 
      | This phenomenon called “reality mining” is at heart of most surveillance capitalism projects and is the basis for the perfect form of advertising — where people’s behavior is simply subconsciously shaped to profit companies in question, without having to advertise anything.

  | information has to be available for purchase to everyone who might be interested in using it. Instead of prohibiting and limiting collection and use of personal data, we take 
  //- _TODO add link add text here
  | underlying market forces
  | , 
  | and try to shape them into a more productive direction.
div 
  | We propose an ecosystem that allows everyone interested in purchasing people’s generated data to do so directly without having to go through the third party; and for people on other hand, to benefit from the data they produce while exercising control – what information they are willing to share, whom they share it with, and how much they get paid for it.
  
div
  +exp('l2_how_exactly', 2, 'How would that work exactly?')
    div We believe that in order to prevent further monopolization of information markets, information has to be available for purchase to everyone who might be interested in using it. Instead of prohibiting and limiting collection and use of personal data, we take underlying market forces, and try to shape them into a more productive direction.
    div We propose an ecosystem, that allows everyone who is interested in purchasing people’s generated data, do so directly without having to go through the third party; and for people on other hand, to benefit from the data they produce by controlling which information they are willing to share, whom they share it with, and getting paid for it.

div
  +exp('l2_how_world', 2, 'How the world would look like?')
    div Test
