mixin link(link, tooltip)
  a(href= link target="_blank" data-toggle="tooltip" data-placement="top" title= tooltip)
    i.fa.fa-external-link.externalLink(aria-hidden="true")

mixin exp(cat, level, link, other)
  span.expandable(onclick='expandCat("'+cat+'")')= link
  span= other
  div(id=cat, class='contentLevel'+level)
    block

mixin pic(src)
  img(src= 'img/'+src)

mixin _li(n)
  .liWrapper
    .numberCircle= n
    block

mixin list
  b
    block
    | <br />
