#l1_why.contentLevel1
  p With the technological progress and automation of human labor, we are transitioning to the information economy, where production of information becomes the new nature of work.
  p Failing to recognize that and claim ownership of our own data leads to monopolization of information markets, which when coupled with further development of human-to-computer interfaces and development of IoT results in: 
  ol
    li limitation of creativity and economic growth through the use of data; 
    li dangerous precedents in manipulation of behavior; 
    li unsustainable wealth distribution that leads to erosion of the middle class and market society
  p In order to prevent that from happening, there needs to be a paradigm shift in the way we treat the very basic resource of the information economy, that keeps the system running, information itself.
