#l1_how.contentLevel1
  div 
    | We believe that in order to prevent further 
    span.expandable(onclick='expandCat("#l2_monopoly2")') monopolization of information markets
    | , 
    #l2_monopoly2.contentLevel2
      div 
        | You might have noticed it already. There is a strange logic at the heart of the modern tech industry. The goal of many new tech startups is not to produce products or services for which consumers are willing to pay. Instead, the goal is create a digital platform or hub that will capture information from as many users as possible — to grab as many ‘eyeballs’ as you can. 
        | The story of WhatsApp
        | , for example, is just one of the numerous examples. The information captured can then be analysed, repackaged and monetised in various ways. The appetite for this information-capture and analysis seems to be insatiable, with ever increasing volumes of information being extracted and analysed from an ever-expanding array of data-monitoring technologies.
    | information has to be available for purchase to everyone who might be interested in using it. Instead of prohibiting and limiting collection and use of personal data, we take 
    //- _TODO add link add text here
    | underlying market forces
    | , 
    | and try to shape them into a more productive direction.
  div 
    | We propose an ecosystem, that allows everyone who is interested in purchasing people’s generated data, do so directly without having to go through the third party; and for people on other hand, to benefit from the data they produce by controlling which information they are willing to share, whom they share it with, and getting paid for it.
  div 
    | How would that work exactly?
