#l1_how_exactly.contentLevel1
  div We believe that in order to prevent further monopolization of information markets, information has to be available for purchase to everyone who might be interested in using it. Instead of prohibiting and limiting collection and use of personal data, we take underlying market forces, and try to shape them into a more productive direction.
  div We propose an ecosystem, that allows everyone who is interested in purchasing people’s generated data, do so directly without having to go through the third party; and for people on other hand, to benefit from the data they produce by controlling which information they are willing to share, whom they share it with, and getting paid for it.
  div How would that work exactly?
