extends layout

block content
  h3 Project Datacoup
  .contentLevel0
    | We believe that information that people generate using digital products online and in real life should be treated as a commodity that can be bought and sold to any interested party.
    | <br /> OK, but 
    span.expandable(onclick='expandCat("#test_cat")') why
    |?
    #test_cat.contentLevel1
      | With the technological progress and automation of human labor, we are transitioning to the information economy where production of information becomes the new nature of work. 
      | Failing to recognize that and claim ownership of our own data results in monopolization of information markets. 
    | <br /> And how?
    | <br /> Completely agree, what do I do now?
