block variables
  - var title = "Projectdatacoup"

extends layout

block content
  .wrapper
    .header
      include ./header/project.jade
    .mainWrapper
      include ./content/project/level0.jade
