block variables
doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Project Data Coup is aimed at raising awareness about the fact that default way we treat information, if unchallenged, can lead to serious societal-level implications; and offers possible solution to the problem.')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    //- - var title = title || _path
    //- - var title =  'Project Data Coup'
    title #{title}
    script(src='vendors/jquery-2.2.3.min.js')
    script(src='vendors/jquery.ba-bbq.min.js')
    include ./utils/google-analytics.jade
    link(href='vendors/font-awesome-4.6.3/css/font-awesome.min.css', rel='stylesheet')
    != css()

  body
    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520298a93f505d86')
    block content

    != js()
    