// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-black = "Helvetica-Black 2", Helvetica, Arial, sans-serif;
$amiri = "Amiri", Georgia, serif;

// Default font settings
$font-stack = $helvetica-neue
$font-size = 16px
$font-size-larger1 = 26px
$font-color = #000;

$font-size-mobile = 12px
$font-size-larger1-mobile = 16px

// Content Settings
$common-link-color = #0000EE
$font-size-l0 = 55px
$font-size-l1 = 35px
$font-size-l2 = 25px
$font-size-l3 = 20px


$padding-l1 = 20%
$padding-l2 = 25%
$padding-l3 = 33%

$widthSmallScreen=1000px
$widthMobile=620px



// Default color
$default-color = $blue

// Text highlight color
$highlight-color = $blue

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
