@font-face {
  font-family: "Helvetica-Black 2";
  src: url("fonts/Helvetica-Black 2.otf") format("opentype");
}
@font-face {
  font-family: "Amiri";
  font-weight: bold;
  src: url(fonts/Amiri/Amiri-Bold.ttf) format("opentype");
}
@font-face {
  font-family: "Amiri";
  font-weight: bold;
  font-style: italic;
  src: url(fonts/Amiri/Amiri-BoldSlanted.ttf) format("opentype");
}
@font-face {
  font-family: "Amiri";
  src: url(fonts/Amiri/Amiri-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "Amiri";
  font-style: italic;
  src: url(fonts/Amiri/Amiri-Slanted.ttf) format("opentype");
}
