$circle1LineHeight = 24px;
$circle1Padding = 7px;
.numberCircle1 {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */

  width: 20px;
  height: 20px;
  line-height: $circle1LineHeight;
  margin-right: 10px;
  padding: $circle1Padding;
  
  background: #fff;
  border: 2px solid #000;
  text-align: center;
}

.liText1 {
  padding-left: 50px;
  margin-top: -($circle1LineHeight + 2*$circle1Padding);
}
.liWrapper1 {
  padding: 10px 0px;
}

$circle2LineHeight = 24px;
$circle2Padding = 7px;
.numberCircle2 {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */

  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  padding: 3px;
  background: #fff;
  border: 2px solid #000;
  text-align: center;
}

.liText2 {
  padding-left: 42px;
  margin-top: -30px;
}
.liWrapper2 {
  padding: 5px 0px;
}

