@import '_settings'

normalize-css()
base()

// body
//   padding: 50px

.mainWrapper
  margin: 50px auto;
  width: 90%;

// .mainWrapper div
//   padding-top: 7px;

.contentLevel0
  font-size: $font-size-l0;
.contentLevel0 > div
  padding-top: 20px;

.contentLevel1
  font-size: $font-size-l1;
  padding-left: $padding-l1;
  display: none;
.contentLevel1 > div
  padding: 15px 0;

.contentLevel2
  font-size: $font-size-l2;
  padding-left: $padding-l2;
  display: none;
.contentLevel2 > div
  padding: 10px 0;

.contentLevel3
  font-size: $font-size-l3;
  padding-left: $padding-l3;
  display: none;
.contentLevel3 > div
  padding: 10px 0;

.expandable
  color: $common-link-color;
  cursor: pointer;
  text-decoration: underline;
