@import '_settings'

normalize-css()
base()

body
  padding: 50px

.contentLevel0
  font-size: 28px

.contentLevel1
  font-size: 24px
  padding: 20px 0 0 30px
  display: none

.expandable
  color: $green
  cursor: pointer
  text-decoration: underline
