include ../project/mixins.jade

.row.papers
  .column.column-4
    p 1. Varian, Hal R.. 2010. "Computer Mediated Transactions."  American Economic Review, 100(2): 1-10. [link]
    p 2. Zuboff, Shoshana. 2015. “Big Other: Surveillance Capitalism and the Prospects of an Information Civilization.” Journal of Information Technology (2015) 30, 75–89. [link]
    p 3. Persson, Petra. 2016. “Attention Manipulation and Information Overload: Barriers to Consumer Protection.” Stanford University. [link]
    p 4. Gullström, Charlie. 2010. “Presence Design. Mediated Spaces Extending Architecture.” Royal Institute of Technology (KTH), Stockholm, Sweden [link]
    p 5. Lehdonvirta, Vili. 2009. “Virtual Consumption.” Turku: Turku School of Economics. [link]
    p 6. Robert M. Bond, Christopher J. Fariss, Jason J. Jones, Adam D.I. Kramer, Cameron Marlow, Jaime E. Settle, James H. Fowler. “A 61-Million-Person Experiment in Social Influence and Political Mobilization.” Political Science Department, University of California, San Diego, La Jolla, California. [link]
    p 7. K. Carrie Armel, Aurelie Beaumel, and Antonio Rangel. 2008. “Biasing simple choices by manipulating relative visual attention.” Department of Economics, Stanford University, HSS & Computational and Neural Systems, California Institute of Technology. [link]
    p 8. Bellamy Foster, John and W. McChesney, Robert. 2014. “Surveillance Capitalism. Monopoly-Finance Capital, the Military-Industrial Complex, and the Digital Age.” Monthly Review, Volume 66, Issue 03. [link] 
  .column.column-4        
    p 9. Landay, Lori. 2008. “Having But Not Holding: Consumerism and Commodification in Second Life.“ Journal of Virtual Worlds Research. [link]
    p 10. Mortimer, Thomas. 1801. “Lectures on the Elements of Commerce, Politics and Finances.” [link]
    p 11. Epstein, Robert. 2016. “New Mind Control. How Internet Flips Elections and Alters Our Thoughts.” Aeon Magazine. [link]
    p 12. Stark, Chelsea. 2016. "Misled Memories. Virtual reality is ready to manipulate your emotions.” Mashable. [link]
    p 13. Lanier, Jaron. 2013. “Who Owns the Future.” Simon and Schuster. [link]
    p 14. Lanier, Jaron. 2014. “On Facebook and the Creepy Possibilities for Virtual Reality.” Techonomy. [link]
    p 15. Kas, Thomas. 2015. “Should Google Pay Its Users?” Bigthink. [link]
    p 16. Morozov, Evgeny. 2014. “The rise of data and the death of politics.” The Guardian. [link]
    p 17. Morozov, Evgeny. 2014. “Who pays for us to browse the web? Be wary of Google’s latest answer.” The Guardian. [link]
    p 18. Morozov, Evgeny. 2015. “When apps are driven by the market, there’s only one winner. It’s not you…” The Guardian. [link]
    p 19. Kaste, Martin. 2014. “Think Internet Data Mining Goes Too Far? Then You Won't Like This.” NPR. [link] 
  .column.column-4
    p 20. Frank, Aaron. 2016. “In the Future Ownerless Companies Will Live on Blockchain.” Singularity Hub. [link]
    p 21. Kofman, Ava. 2015. “Dueling Realities.” The Atlantic. [link]
    p 22. Vance, Jeff. 2013. “Big Data Analytics Overview” Datamation. [link]
    p 23. Barr, Alistair. 2016. “Google Maps Suggests Destination.” The Wall Street Journal. [link]
    p 24. Leslie, Ian. 2014. “Kodak vs. Instagram. Why it’s only going to get harder to make a good living.” New Statesman. [link] 
    p 25. Korosec, Kirsten. 2016. “The Artificial Intelligence in Google's Self-Driving Cars Now Qualifies as Legal Driver”. Fortune Magazine. [link] 
    p 26. Schwab, Klaus. 2016. “The Fourth Industrial Revolution: what it means, how to respond.” World Economic Forum. [link]
    p 27. World Economic Forum. 2016. “The Future of Jobs.” [link]
    p 28. The White House. 2016. “Economic Report of the President.” [link]