include ../project/mixins.jade

.row.team
  .column.column-4
    div Strelka Research Team:
      div Sara Anand
      div Denis Bondar
      div Fabrizio Furiassi
      div Alexander Kremenets
      div Theo Storesund

  .column.column-4
    div Advisors:
      div Pierluigi Dalla Rosa
      div Isabel Froes
      div Daniil and David Liberman
      div Andrey Manirko
      div Fedor Novikov
      div Eugenia Pospelova
      div Daniel Trabun
      div Chris Woebken
  .column.column-4
    div Editor:
      div Julia Taranova
