include ../project/mixins.jade

h2.hTeam team
.row.team
  .column.column-4.teamCol
    div Strelka Research Team:
      <br /><br />
      div Sara Anand
      div Denis Bondar
      div Fabrizio Furiassi
      div Alexander Kremenets
      div Theo Storesund

  .column.column-4.teamCol
    div Advisors:
      <br /><br />
      div Pierluigi Dalla Rosa
      div Isabel Froes
      div Daniil and David Liberman
      div Andrey Manirko
      div Fedor Novikov
      div Eugenia Pospelova
      div Daniel Trabun
      div Chris Woebken
  .column.column-4.teamCol
    div Editor:
      <br /><br />
      div Julia Taranova
